:root {
  --white: #FFF1E8;
  --black: #000000;
  --gray: #5F574F;
  --lightgray: #C2C3C7;
  --green: #008751;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
}


.App {
  background-color: var(--black); 
  padding: 1rem 0;
}

.container {
  width: 70%;
  background-color: #83769C;
  margin: 0 auto;
  border: 10px solid var(--white);
}

.logo {
  text-align: center;
  font-family: 'PixeledEnglish';
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 10px solid var(--white);;
  color: var(--white);
}

.logo h1 {
  font-family: 'Chomsky';
  font-size: 5em;
  margin-bottom: 0.2rem;
}

.logo h2 {
  font-family: 'Pico';
  color: var(--lightgray);
  margin-bottom: 0.2rem;
}

.game-container {
  width: 70%;
  margin: 3rem auto;
}

.game {
  margin: 0 auto;
}

.controls {
  font-family: "Pico";
  border-top: 10px solid var(--white);
  padding: 1.5rem;

}

.controls h2{
  margin-bottom: 0.5rem;
}

.controls p{
  line-height: 2.5em;
}


